# Local path where the results are to be temporarily stored
WORKSPACE=D:/ganabosques/data/

# MongoDB URL enabled 
MONGO_URI=mongodb://usuario:contraseña@localhost:27017

# Name of the MongoDB database where the information is stored
MONGO_DB_NAME=midatabase

# Local path where the raw input data is stored.
DATA=D:/data/sagari