# Local path where the results are to be temporarily stored
WORKSPACE=D:/ganabosques/data/

# MongoDB URL enabled 
MONGO_URI=mongodb://usuario:contraseña@localhost:27017

# Name of the MongoDB database where the information is stored
MONGO_DB_NAME=midatabase

# Local path where the raw input data is stored.
DATA=D:/data/sagari

# URL of the GeoServer instance enabled 
URL_GEO=http://localhost:8080/geoserver

# Replace GEO_USER with your actual GeoServer username
GEO_USER=admin

# Replace GEO_PWD with your actual GeoServer password
GEO_PWD=admin

# Name of the GeoServer workspace
GEO_WORKSPACE_ADMIN=administrative

# Name of the GeoServer store
GEO_STORE=divipola